<div class="panel panel-primary">
        <div class="panel panel-heading">
                Artist Gallary
              </div>
 <h1>it is working </h1>

 <div class="row">

        <div class="col-sm-4">
            <a href="#hendricksid" data-toggle="collapse">
            <img src="./assets/hendricks.jpg"  alt="hendricks" width="300" height="300">
            <p><strong>hendricks</strong></p><br>
            </a>

            <div id="hendricksid" class="collapse">
              <p>Jimi Hendrix</p>
              <p>jimi_hendrix </p>
              <p>James Marshall Jimi Hendrix was an American rock guitarist, singer, and songwriter. </p>
            </div>
          </div>
</div>
<div>

        <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Album id</th>
                    <th scope="col">title</th>
                    <th scope="col">cover</th>
                    <th scope="col">year</th>
                    <th scope="col">price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
</div>
