<div class="panel panel-primary">
  <div class="panel panel-heading">
    Artist Gallary
  </div>
  <h1>it is working </h1>

  <div class="row">
        <ul>                
        <a href="#lastData.id"  data-toggle="collapse">
        <img src="{{lastData.image}}"  alt="{{lastData.name}}" width="300" height="300">
        </a>
        <div id="{{lastData.id}}" class="collapse">       
          <p>{{lastData.name}}</p>
          <p>{{lastData.cover}} </p>
          <p>{{lastData.bio}}</p>
        </div>
    </ul>
</div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Album id</th>
          <th scope="col">title</th>
          <th scope="col">cover</th>
          <th scope="col">year</th>
          <th scope="col">price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor= "let currentAlbum of albumData"> 
          <th scope="row">{{currentAlbum.albumId}}</th>
          <td>{{currentAlbum.title}}</td>
          <td>{{currentAlbum.year}}</td>
          <td>{{currentAlbum.cover}}</td>
          <td>{{currentAlbum.price}}</td>
        </tr>
      </tbody>
    </table>
  </div>