<div class="panel panel-primary">
    <div class="panel panel-heading">
      Music Project
    </div>
    <div class="panel body">
      <div class="container text-center">
        <h3>THE MUSIC </h3>
        <p><em>We love music!</em></p>
        <p>If you love music then you wil get everything here.</p>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <ul>
                    <li *ngFor="let artist of artistArray">              
                <a href="#{{artist.id}}"  data-toggle="collapse">
                <img src="{{artist.image}}"  alt="{{artist.name}}" width="255" height="255">
                <p><strong></strong></p><br>
                </a>
                <ul class="btn btn-info">
                    <li><a [routerLink]="['/musicAlbum',artist.id]">check Album</a></li>
                  </ul>
                <div id="{{artist.id}}" class="collapse">
                    
                  <p>{{artist.name}}</p>
                  <p>{{artist.cover}} </p>
                  <p>{{artist.bio}}</p>
                </div>
              </li>
            </ul>
              </div>
        </div>
      </div>
    </div>
    <div>
        <router-outlet></router-outlet>
        </div>  
  </div>