<div class="panel panel-primary">
    <div class="panel panel-heading">
      Music Project
    </div>
    <div class="panel body">
      <div class="container text-center">
        <h3>THE MUSIC </h3>
        <p><em>We love music!</em></p>
        <p>If you love music then you wil get everything</p>
        <br>
        <div class="row">

            <div class="col-sm-4">
                <a href="#hendricksid"  data-toggle="collapse">
                <img src="./assets/hendricks.jpg"  alt="hendricks" width="255" height="255">
                <p><strong></strong></p><br>
                </a>
                <ul class="btn btn-info">
                    <li><a [routerLink]="['/musicAlbum']">check Album</a></li>
                  </ul>
                <div id="hendricksid" class="collapse">
                  <p>Jimi Hendrix</p>
                  <p>jimi_hendrix </p>
                  <p>James Marshall Jimi Hendrix was an American rock guitarist, singer, and songwriter.</p>
                </div>
              </div>
              

























              
          <div class="col-sm-4">
           
            <img src="./assets/bandMember1.jpg" alt="Guitar" width="255" height="255">
            <p><strong>Guitar Then Anntic</strong></p><br>
            <button type="button" class="btn btn-info">check Album</button>
          </div>
          <div class="col-sm-4">
            <img src="./assets/bandMember2.jpg" alt="MerMaid" width="255" height="255">
            <p><strong>Mermaid queen of Sea</strong></p><br>
            <button type="button" class="btn btn-info">check Album</button>
          </div>
          <div class="col-sm-4">
            
            <img src="./assets/bandMember3.jpg" alt="Dragon" width="255" height="255">
            <p><strong>Game of Thrones</strong></p><br>
            <button type="button" class="btn btn-info">check Album</button>
          </div>
          <div class="col-sm-4">
            <img src="./assets/bandMember4.jpg" alt="Frozon" width="255" height="255">
            <p><strong>Frozon</strong></p><br>
            <button type="button" class="btn btn-info">check Album</button>
          </div>
          <div class="col-sm-4">
            <img src="./assets/bandMember5.jpg" alt="LA LA LAND" width="255" height="255">
            <p><strong>LA LA LAND</strong></p><br>
            <button type="button" class="btn btn-info">check Album</button>
          </div>
          <div class="col-sm-4">
            <img src="./assets/bandMember6.jpg" alt="Fury" width="255" height="255">
            <p><strong>Fury</strong></p><br>
            <button type="button" class="btn btn-info">check Album</button>
          </div>
        </div>
      </div>
    </div>
    <div>
        <router-outlet></router-outlet>
        </div>  
  </div>